#navParent {
  display: block;
}

#basic-navbar-nav {
  justify-content: flex-end;
  margin-right: 50px;
}

.navbarLinks {
  color: white;
  text-decoration: none;
  margin: 3vh 2vw 0px 0px;
}

.navbar-toggler {
  margin-right: 20px;
}

.navbar-collapse {
  margin-left: 4vw;
}

svg {
  margin-right: 5px;
}

span[role="img"] {
  margin: 0 2vw 0 4vw;
}
