:root {
  --logoFont: "Nunito", sans-serif;
}

#navParent {
  display: block;
}

#navParent {
  height: 15vh;
  align-items: baseline;
  position: relative;
  border-top: 1px solid #141e30;
}

.nav .navbar {
  position: absolute;
  width: 100vw;
  z-index: 3;
}

#basic-navbar-nav {
  justify-content: flex-end;
  margin-right: 50px;
}

.navbar-nav {
  margin: 1rem 0 1rem 0;
}

.nav .navbar-brand {
  font-family: var(--logoFont);
  font-size: 2.25rem;
}

.navbarLinks {
  color: black;
  text-decoration: none;
  margin: 1.8vh 2vw 0px 0px;
  font-family: var(--logoFont);
}

.navIcons {
  display: none;
}

.navbar-toggler {
  margin-right: 20px;
}

.navbar-collapse {
  margin: 0px 0px 0px 4vw;
}

#loginLink {
  padding: 0.6rem 2.8rem;
  text-decoration: none;
  margin-left: 2rem;
  font-size: 1.1rem;
  background-color: var(--secondary);
  border-radius: 30px;
  border-color: var(--secondary);
  color: black;
}

#SignupLink {
  padding: 0rem 2.6rem;
  text-decoration: none;
  margin-left: 2rem;
  font-size: 1.1rem;
  border-radius: 30px;
  border: 2px solid var(--secondary);
  color: white;
  display: flex;
  align-items: center;
}

svg {
  margin-right: 5px;
}

span[role="img"] {
  margin: 0 2vw 0 4vw;
}

/* -------------- Media Queries -------------- */

@media only screen and (min-device-width: 280px) /*and (max-device-width: 350px) */ {
  .navIcons {
    display: inline-block;
  }
}

@media screen and (max-width: 900px) {
  #basic-navbar-nav {
    margin-right: 0px;
  }

  .navbar-nav {
    margin: 2vh 4vw 0px 0px;
    border-top: 2px solid grey;
  }
}

@media screen and (min-width: 1024px) {
  .navIcons {
    display: none;
  }
}
