:root {
  --logoFont: "Nunito", sans-serif;
}

#navParent {
  height: 15vh;
  width: 87vw;
  display: inline-block;
  align-items: baseline;
  position: relative;
}

.nav .navbar {
  position: absolute;
  width: auto;
  z-index: 3;
}

#newNavContainer {
  display: flex;
  width: 63rem;
  justify-content: space-around;
  align-items: center;
}

#linksContainer {
  margin: 0 9rem 0 16rem;
}

#otherLinksContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 5rem;
  margin-left: 10rem;
}

#responsiveCartButton {
  display: none;
  color: #000;
  background-color: #f1a138;
  border-color: #f1a138;
}

.navbar-nav {
  margin: 1rem 0 1rem 0;
}

.nav .navbar-brand {
  font-family: var(--logoFont);
  font-size: 2.25rem;
}

.homeNavLinks {
  color: white;
  text-decoration: none;
  margin: 1.8vh 2vw 0px 0px;
  font-family: var(--logoFont);
}

.shopNavLinks {
  color: #465965;
  text-decoration: none;
  margin: 1.8vh 2vw 0px 0px;
  font-family: var(--logoFont);
}

.otherLinks {
  color: #a0a9b1;
  margin: 0 10px;
}

.navIcons {
  display: none;
}

.navbar-toggler {
  margin-right: 20px;
}

.navbar-collapse {
  margin: 0px 0px 0px 0vw;
}

#loginLink {
  padding: 0.6rem 2.8rem;
  text-decoration: none;
  margin-left: 2rem;
  font-size: 1.1rem;
  background-color: var(--secondary);
  border-radius: 30px;
  border-color: var(--secondary);
  color: black;
}

#SignupLink {
  padding: 0rem 2.6rem;
  text-decoration: none;
  margin-left: 44rem;
  font-size: 1.1rem;
  border-radius: 30px;
  border: 2px solid var(--secondary);
  color: var(--secondary);
  display: flex;
  align-items: center;
}

svg {
  margin-right: 5px;
}

/* span[role="img"] {
  margin: 0 1vw 0 4vw;
} */

#logoSpan {
  margin: 0 1vw 0 0vw;
}

#homeLogoName {
  color: white;
}

#shopLogoName {
  /* color: #465965; */
  color: #a0a9b1;
  margin-top: 10px;
}

/* -------------- Media Queries -------------- */

@media only screen and (min-device-width: 280px) and (max-device-width: 899px) {
  .navIcons {
    display: inline-block;
  }

  /* Shop */

  #responsiveCartButton {
    display: inline-block;
  }

  .nav .navbar {
    width: auto;
    flex-wrap: nowrap;
  }

  .navbar {
    flex-wrap: nowrap;
  }

  .navbar-nav {
    border-top: 2px solid grey;
  }

  .navbar-toggler {
    margin-right: 0px;
  }

  #navParent .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: #465965;
    margin-left: 20px;
  }

  #newNavContainer {
    display: flex;
    width: 0vw;
    flex-direction: column;
  }

  #linksContainer {
    margin: 0rem;
  }

  #otherLinksContainer {
    display: flex;
    align-items: center;
    width: 0rem;
    margin-left: 0rem;
  }

  #categoryRow {
    padding: 2rem 5rem 5rem 5rem;
    height: 87%;
  }
}

/* @media screen and (min-width: 900px) {
  #newNavContainer {
    display: flex;
    flex-direction: row;
    width: 63rem;
    justify-content: space-around;
    align-items: center;
  }

  #basic-navbar-nav {
    margin-right: 0px;
  }

  .navbar-nav {
    margin: 2vh 4vw 0px 0px;
    border-top: 0px;
  }

  #responsiveCartButton {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .navIcons {
    display: none;
  }

  #responsiveCartButton {
    display: none;
  }
} */
