:root {
  --primary: #232f3e;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--primary);
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.error-text {
  color: var(--error);
}

/* ***************** My CSS Styling ***************** */

/* Login, Sigup, Detail Pages */

#loginContainer,
#signUpContainer,
#detailContainer {
  height: 80vh;
}

#loginRow,
#signUpRow,
#detailRow {
  justify-content: center;
}

#loginCol,
#signUpCol,
#detailCol {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Forms in Login and Signup Pages */

form {
  width: 40%;
  margin: 20px;
}

form .form-label {
  margin-bottom: 1rem;
}

.form-control {
  margin-bottom: 1rem;
}

.loginH2 {
  margin-bottom: 1.5rem;
}

form .formButton,
#cardButton,
#catergoryButton,
#detailAddButton {
  padding: 0.6rem 2.6rem;
  font-size: 1.1rem;
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: black;
}

/* Detail Page */

#detailDiv {
  width: 45vw;
  padding: 0 2rem;
}

.detailInnerDiv {
  display: flex;
  justify-content: space-between;
  width: 82%;
  margin-bottom: 1rem;
}

.detailH2 {
  display: inline-flex;
}

strong {
  margin-right: 10px;
}

#detailAddButton {
  margin-right: 10px;
}

/* Category Button */

#catergoryButton {
  padding: 0.5rem 2rem;
  margin: 10px;
  border-radius: 30px;
}

#my-2 {
  margin-top: 1rem;
  margin-bottom: var(--spacing-two);
}

/* Product Cards */

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 21%;
  text-align: center;
  margin: 1% 2% 2% 2%;
}

/* Media Queries */

/* ------------- iPad ------------- */

@media screen and (max-width: 768px) {
  .card {
    width: 40%;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .card {
    width: 93%;
  }
}
