:root {
  --primary: #232f3e;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --neutral: #ffffff;
  --logoFont: "Nunito", sans-serif;
  --primaryFont: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100vw;
}

html body {
  margin: 0;
  padding: 0;
  font-family: var(--primaryFont);
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
  background-color: var(--neutral);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primaryFont);
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.error-text {
  color: var(--error);
}

/* ***************** My CSS Styling ***************** */

#appContainer {
  padding: 0px;
  height: 100vh;
  width: 100vw;
}

form .formButton,
#allCategoryButton,
#detailAddButton,
#linkToLogin,
#checkoutButton {
  padding: 0.6rem 2.6rem;
  font-size: 1.1rem;
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: black;
}

/* Login & Signup */

#loginContainer,
#signUpContainer {
  height: 100vh;
  width: 100vw;
  padding: 0px;
}

#loginContainer .row,
#signUpContainer .row {
  --bs-gutter-x: 0rem;
}

#loginRow,
#signUpRow {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#rightLoginCol,
#rightSignUpCol {
  padding: 2rem 3rem 3rem 3rem;
}

#leftLoginCol,
#leftSignUpCol {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  background-color: #243b55;
}

.tagLineText {
  color: white;
  font-size: 1.8rem;
  margin: 1rem 0 0 2rem;
}

#loginImage {
  width: 100%;
  height: 24vh;
  margin-top: 1rem;
  padding-right: 1.2rem;
}

.signUpForm,
.loginForm {
  width: 75%;
  bottom: 0rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: absolute;
  opacity: 1;
}

#rightLoginCol .loginForm {
  bottom: 4rem;
}

#rightSignUpCol .signUpForm {
  bottom: -6rem;
}

#logoHeader,
#signUpHeader {
  display: flex;
  align-content: center;
  align-items: center;
  text-decoration: none;
}

#shopName {
  padding-left: 0.5rem;
  font-family: "Nunito";
  color: #707070;
}

#shopName:hover {
  text-decoration: underline;
}

.loginH2,
.signUpH2 {
  margin-bottom: 1.8rem;
}

.loginForm {
  animation: loginMotion 1s ease-in;
}

@keyframes loginMotion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.signUpForm {
  animation: signUpMotion 1s;
}

@keyframes signUpMotion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form .formButton {
  margin: 0px 0px 1rem 0px;
}

/* Home */

#homeContainer {
  background-image: url("../src/assets/wave1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  padding: 0px;
}

#homeContainer .row {
  --bs-gutter-x: 0rem;
}

.homeRow {
  width: 100vw;
  height: 0vh;
}

#creditCard {
  position: absolute;
  max-width: 85%;
  left: 1.5rem;
  top: 6rem;
}

#textBox {
  position: absolute;
  width: 100vw;
  height: 66vh;
  top: 21rem;
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textBox #linkToLogin {
  border-radius: 30px;
  padding: 0.8rem 3.8rem;
  text-decoration: none;
}

#homeContainer #footerDiv {
  margin-top: 2rem;
}

/* Shop */

#appContainer #shopContainer {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  background-color: #f2f2f2;
}

#shopContainer .row {
  --bs-gutter-x: 0rem;
}

#categoryRow {
  padding: 3rem 2rem 5rem 2rem;
  height: 87%;
  background: linear-gradient(
    180deg,
    rgba(242, 242, 242, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

#productRow {
  background-color: #ffffff;
}

#shopImage {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 88%;
}

#shopTextBox {
  width: 60%;
}

#shopTextBoxH2 {
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
}

#shopTextBoxhH5 {
  color: lightgrey;
  margin-bottom: 1.5rem;
}

#textBoxLink {
  text-decoration: none;
  border-radius: 5px;
  padding: 0.6rem 1.2rem;
  font-size: 1.1rem;
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: black;
}

#categoryButton {
  padding: 0.3rem 1rem;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  border-color: #e7e7e7;
  color: #b6b6b6;
}

#allCategoryButton {
  padding: 0.3rem 1rem;
  margin: 10px;
  border-radius: 5px;
}

#productCol .card {
  width: 21%;
  text-align: center;
  margin: 1% 2% 2% 2%;
  border-radius: 1.25rem;
  /* box-shadow: 5px 0px 23px 5px #e7e7e7; */
  border: none;
  background: #f7f7f7;
}

#productCol .card-img-top {
  border-radius: 1.25rem;
  border: 7px solid #f7f7f7;
  background: #243a55;
}

#priceButtonDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card-title {
  text-align: left;
}

#productName,
#cardPrice {
  color: #707070;
}

#productName,
#detailProductName {
  font-weight: bold;
}

#cardPrice {
  position: absolute;
  bottom: -2.5rem;
  left: 0rem;
  margin: 0rem;
}

#cardButton {
  border-radius: 10px;
  padding: 0.2rem 1.2rem;
  font-size: 1.5rem;
  background-color: #243a55;
  border-color: #243a55;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: -3rem;
  right: -0.3rem;
  text-decoration: none;
}

#cardButton:hover {
  opacity: 0.8;
}

/* Order History */

#orderHistoryContainer {
  height: auto;
  width: 100vw;
  padding: 0px;
}

#orderHistoryContainer .row {
  --bs-gutter-x: 0rem;
}

#orderHistoryRow {
  padding: 3rem 5rem;
}

#ordersContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ordersDiv {
  margin-bottom: 1rem;
}

#historyCardBody {
  height: auto;
}

#historyImg {
  width: 20vw;
  padding: 1rem 0rem;
}

.nameDate {
  padding: 0rem 1rem 1rem 1rem;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#namePriceDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  width: 22vh;
}

.itemRow {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  align-items: center;
  justify-content: space-between;
}

.nameDate,
.detailText {
  color: #465965;
  font-weight: bold;
}

.detailText {
  font-size: 1rem;
}

/* Detail */

#detailContainer {
  height: 100vh;
  margin: 0;
  padding: 0rem;
  background: linear-gradient(
    180deg,
    rgba(242, 242, 242, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 1) 100%
  );
}

#detailNavRow {
  background: rgb(20, 30, 48);
  background: linear-gradient(
    144deg,
    rgba(20, 30, 48, 1) 0%,
    rgba(36, 58, 85, 1) 100%
  );
  border-bottom-left-radius: 100px;
  height: 40vh;
}

#detailRow {
  margin: 0rem;
  width: 100vw;
}

#detailCol {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#detailDiv {
  width: 100vw;
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#imageDiv {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

#detailImg {
  filter: drop-shadow(3px 5px 5px rgb(0 0 0 / 0.4));
  max-width: 93%;
}

.nameLinkDiv,
.priceDescriptionDiv {
  border-radius: 20px;
  padding: 2rem;
}

.nameLinkDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem;
}

.priceDescriptionDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 80vh;
  margin: 2rem 0rem;
  background: linear-gradient(
    180deg,
    rgba(20, 30, 48, 1) 0%,
    rgba(36, 59, 85, 1) 100%
  );
}

.detailH2,
#descriptionHeader {
  font-weight: bold;
  color: white;
}

#detailProductName,
#detailPrice {
  color: white;
}

#price,
#detailPrice {
  font-size: 1.3rem;
  margin-top: 0rem;
}

#detailPrice {
  margin-left: 34px;
}

#backLink {
  color: #a0a9b1;
  text-decoration: none;
}

#backLink:hover {
  text-decoration: underline;
}

#starDiv {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0rem;
}

.star {
  color: #d7db53;
}

#descriptionDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#descriptionParagraph {
  line-height: 1.8rem;
  width: 100%;
  font-size: 1.2rem;
  color: grey;
  margin-top: 1rem;
}

#buttonDiv {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 0rem;
}

#detailAddButton {
  padding: 0.6rem 3.2rem;
}

strong {
  margin-right: 10px;
}

/* Success Page */

#successContainer {
  padding: 0px;
}

#successContainer .row {
  --bs-gutter-x: 0rem;
}

#successRow {
  justify-content: center;
}

#successCol {
  width: 71%;
  height: 50%;
  margin-top: 2%;
  padding: 10px 0px;
}

#successImage {
  display: flex;
  height: 50vh;
  width: 100vw;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
}

#successTextBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#successH1 {
  color: #496995;
  font-family: "Nunito";
  margin-top: 2%;
}

#redirectBox {
  display: flex;
  align-items: center;
  width: 96%;
  justify-content: center;
  margin-top: 22%;
  padding: 2%;
  font-size: 1.8rem;
  background-color: #496995;
  border-radius: 10px;
  color: #ffffff;
}

.spinner-border {
  margin-right: 20px;
  border: 0.2em solid #ffffff;
}

/* NoMatch Page */

#noMatchContainer {
  width: 100vw;
  height: 100vh;
  padding: 0px;
}

#noMatchContainer .row {
  --bs-gutter-x: 0rem;
}

#noMatchRow {
  height: 100vh;
  width: 100vw;
}

#noMatchCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#noMatchImgDiv span {
  display: flex;
  justify-content: center;
}

#noMatchImage {
  max-width: 85%;
}

#noMatchText {
  color: #253237;
  font-size: 3.8vw;
  margin-bottom: 3rem;
}

#linkToShop {
  border-radius: 10px;
  padding: 1% 8%;
  font-size: 1.1rem;
  background-color: #fce5ca;
  color: #253237;
  text-decoration: none;
}

/*************** Media Queries ***************/

/* ----------- Galaxy Fold ----------- */

@media only screen and (min-device-width: 280px) and (max-device-width: 350px) {
  /* Login & Signup */

  #leftLoginCol,
  #leftSignUpCol {
    height: 44vh;
  }

  #rightLoginCol .loginForm {
    bottom: -4rem;
  }

  #rightSignUpCol .signUpForm {
    bottom: -14rem;
  }

  .loginForm,
  .signUpForm {
    width: 65%;
  }

  /* Order History */
  #orderHistoryRow {
    padding: 3rem 3rem;
  }

  /* Detail */
  .priceDescriptionDiv {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .nameLinkDiv {
    flex-direction: column;
  }

  #detailPrice {
    margin-left: 0px;
  }

  #textBoxDiv {
    height: 100vh;
    width: 55vw;
  }

  #buttonDiv {
    width: 100%;
  }

  #detailAddButton {
    margin-bottom: 5px;
  }

  /* Success Page */

  #redirectBox {
    width: 120%;
  }

  /* Login & Sign Up Pages */
  /* #loginRow,
  #signUpRow {
    flex-direction: column;
  }

  #leftLoginCol,
  #leftSignUpCol {
    width: 100vw;
    height: 40vh;
  }

  #rightLoginCol,
  #rightSignUpCol {
    padding: 2rem 2rem 3rem 2.2rem;
  }

  .tagLineText {
    margin: 1rem 0 0 2rem;
    font-size: 1.4rem;
  }

  #loginImage {
    width: 100%;
    height: 24vh;
    margin-top: 1rem;
    padding-right: 1.2rem;
  }

  #logoSignUp,
  #logoSignUp {
    width: 80%;
  }

  #shopName {
    padding-left: 0rem;
  }

  .signUpForm,
  .loginForm {
    width: 75%;
  }

  .loginForm {
    bottom: -5rem;
  }

  .signUpForm {
    bottom: -13rem;
  }

  .loginH2 {
    margin-bottom: 1.8rem;
  }

  */
}

/* ------------- iPhone 5/SE --------------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  /* Login & Sign Up Pages */

  #rightLoginCol .loginForm {
    bottom: -7rem;
  }

  #rightSignUpCol .signUpForm {
    bottom: -17rem;
  }
  /* #loginRow,
  #signUpRow {
    flex-direction: column;
  }

  #leftLoginCol,
  #leftSignUpCol {
    width: 100vw;
    height: 40vh;
  }

  #rightLoginCol,
  #rightSignUpCol {
    padding: 2rem 2rem 3rem 2.2rem;
  }

  .tagLineText {
    margin: 1rem 0 0 2rem;
    font-size: 1.4rem;
  }

  #loginImage {
    width: 100%;
    height: 24vh;
    margin-top: 1rem;
    padding-right: 1.2rem;
  }

  #logo {
    width: 80%;
  }

  #shopName {
    padding-left: 0rem;
  }

  .signUpForm,
  .loginForm {
    width: 75%;
  }

  

  .loginH2 {
    margin-bottom: 1.8rem;
  }

  form .formButton {
    margin: 0px 0px 1rem 0px;
  } */

  /* Home */

  /* #textBox {
    bottom: -7.5rem;
  } */

  /* Order History */

  /* #orderHistoryRow {
    padding: 2rem 2rem;
  } */

  /* Shop */

  /* #shopImage {
    top: 0rem;
    right: 1rem;
  } */

  /* Success Page */
  /* #successCol {
    margin-top: 1rem;
  }

  #successImage {
    max-width: 80%;
  } */
}

/* ----------- Moto G4, Galaxy S5 ----------- */

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
  /* Login & Sign Up Pages */

  #rightLoginCol .loginForm {
    bottom: -2rem;
  }

  #rightSignUpCol .signUpForm {
    bottom: -13rem;
  }
  /* #loginRow,
  #signUpRow {
    flex-direction: column;
  }

  #leftLoginCol,
  #leftSignUpCol {
    width: 100vw;
    height: 40vh;
  }

  #rightLoginCol,
  #rightSignUpCol {
    padding: 2rem 2rem 3rem 2.2rem;
  }

  .tagLineText {
    margin: 1rem 0 0 2rem;
    font-size: 1.4rem;
  }

  #loginImage {
    width: 100%;
    height: 24vh;
    margin-top: 1rem;
    padding-right: 1.2rem;
  }

  #logo {
    width: 80%;
  }

  #shopName {
    padding-left: 0rem;
  }

  .signUpForm,
  .loginForm {
    width: 75%;
  }

  

  .loginH2 {
    margin-bottom: 1.8rem;
  }

  form .formButton {
    margin: 0px 0px 1rem 0px;
  } */

  /* Home */

  /* #creditCard {
    position: absolute;
    right: 2.5rem;
    top: 6rem;
    max-width: 80%;
  }

  #textBox {
    width: 100vw;
    bottom: -6rem;
    padding: 0rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #homeContainer #footerDiv {
    padding: 0rem;
    bottom: -7.5rem;
  } */

  /* Shop */

  /* #logo {
    width: 34%;
  } */

  /* Detail */

  /* #detailDiv {
    flex-direction: column;
  }

  .nameLinkDiv {
    flex-direction: column;
  }

  .priceDescriptionDiv {
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    margin: 2rem 0rem;
  }

  #starDiv {
    flex-direction: column;
  }

  #buttonDiv {
    flex-direction: column;
    height: 18vh;
  }

  #detailAddButton {
    padding: 0.6rem 1rem;
  } */

  /* Success Page */
  /* #successCol {
    width: 70%;
  }

  #categoryRow #jumboContainer {
    flex-direction: column;
    width: 82vw;
  }

  #categoryDiv {
    margin-top: 2rem;
  }

  #shopImage {
    top: 0rem;
    right: 1.5rem;
    width: 80%;
  }

  #shopTextBox {
    width: 60%;
    margin-top: 1rem;
  }

  #shopTextBoxH2 {
    margin-bottom: 0.5rem;
  }

  #shopTextBoxhH5 {
    margin-bottom: 1rem;
  }

  #textBoxLink {
    width: 49vw;
    padding: 0.6rem 1rem;
    text-align: center;
  }

  #productRow {
    height: auto;
    padding: 1rem 2rem 0rem 2rem;
  } */

  /* Order History */
  /* #ordersContainer {
    width: 100%;
  }

  .ordersDiv {
    width: 100%;
  }

  #historyCard {
    width: 100%;
  }

  #historyCardBody {
    width: 100%;
  }

  .itemRow {
    flex-direction: column;
  }

  #historyImg {
    width: 32vw;
    padding: 1rem 0rem 1rem 0rem;
  }

  .detailText {
    font-size: 1rem;
  }

  #namePriceDiv {
    height: 8vh;
    width: auto;
    margin-bottom: 1rem;
  } */

  /* Success Page */

  /* #successImage {
    height: auto;
    margin: 0 auto 10px auto;
  }

  #redirectBox {
    width: 51vw;
    margin-top: 6%;
    padding: 3%;
    font-size: 4.5vw;
  } */

  /* No Match */

  /* #noMatchImage {
    max-width: 87%;
  }

  #noMatchText {
    font-size: 4.8vw;
    margin-bottom: 2rem;
  } */
}

/* ------------- iPhone 6,7,8 --------------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .priceDescriptionDiv {
    height: 95vh;
  }

  /* Login and SignUp Pages */
  /* .loginForm {
    bottom: -5rem;
  }

  .signUpForm {
    bottom: -13rem;
  } */

  /* Order History */
  /* #historyImg {
    padding: 1rem 0rem 1rem 0rem;
  }

  .detailText {
    font-size: 1.4rem;
  }

  #namePriceDiv {
    margin-bottom: 1.5rem;
  } */

  /* Shop */

  /* #shopImage {
    top: -1rem;
    right: 2rem;
  } */

  /* Detail */

  /* #buttonDiv {
    height: 16vh;
  } */

  /* Success Page */
  /* #successCol {
    width: 70%;
    margin-top: 1.8rem;
  }

  #successImage {
    height: 35vh;
  } */
}

/* ----------- iPhone X ----------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  /* Login and SignUp Page */
  #rightLoginCol .loginForm {
    bottom: 3rem;
  }

  #rightSignUpCol .signUpForm {
    bottom: -7rem;
  }

  /* Home Page */
  /* .homeRow {
    width: 100vw;
    height: 50vh;
  }

  #creditCard {
    position: absolute;
    right: 1.3rem;
    top: 7rem;
    max-width: 90%;
  }
  #textBox {
    width: 100vw;
    bottom: -6rem;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #homeContainer #footerDiv {
    padding: 0rem;
    bottom: -1.5rem;
  } */

  /* #loginRow,
  #signUpRow {
    flex-direction: column;
  }

  #leftLoginCol,
  #leftSignUpCol {
    width: 100vw;
    height: 40vh;
  }

  #rightLoginCol,
  #rightSignUpCol {
    padding: 2rem 3rem 3rem 3rem;
  }

  .tagLineText {
    margin: 1rem 0 0 2rem;
  }

  #loginImage {
    width: 100%;
    height: 24vh;
    margin-top: 1rem;
    padding-right: 1.2rem;
  }

  .signUpForm,
  .loginForm {
    width: 75%;
    bottom: 0rem;
  }

  form .formButton {
    margin: 0px 0px 1rem 0px;
  } */

  /* Order History */

  /* .detailText {
    font-size: 1.4rem;
  } */

  /* Detail */

  /* #buttonDiv {
    height: 13vh;
  } */

  /* Success Page */
  /* #successCol {
    margin-top: 4rem;
  } */

  /* #successImage {
    max-width: 100%;
  }

  #redirectBox {
    width: 51vw;
    margin-top: 6%;
    padding: 3%;
    font-size: 4.5vw;
  } */
}

/* ----------- iPhone 6,7,8 plus ----------- */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  #rightLoginCol .loginForm {
    bottom: 1rem;
  }

  #rightSignUpCol .signUpForm {
    bottom: -10rem;
  }

  .priceDescriptionDiv {
    height: 87vh;
  }

  #detailAddButton {
    padding: 0.6rem 3.6rem;
  }
}

/* ------------- iPad ------------- */
/* ------ Portrait ------ */

@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Home */
  #textBox {
    top: 34rem;
    height: auto;
  }

  #textBox #linkToLogin {
    margin: 1rem;
  }

  /* Shop Page */

  #shopImage {
    position: absolute;
    top: 1rem;
    right: 7rem;
    width: 68%;
  }

  #shopTextBoxH2 {
    font-size: 3.1rem;
  }

  #shopTextBoxhH5,
  #textBoxLink {
    font-size: 2.1rem;
  }

  /* Orders History */
  #ordersContainer {
    justify-content: center;
  }

  .detailText {
    font-size: 1.4rem;
  }

  /* Detail */
  .priceDescriptionDiv {
    flex-direction: column;
    height: 50vh;
  }

  #detailAddButton {
    margin-bottom: 5px;
  }

  /* Login and SignUp Page */
  #rightSignUpCol .signUpForm {
    bottom: 1rem;
  }

  #rightLoginCol .loginForm {
    bottom: 9rem;
  }
}

/* ------------- iPad ------------- */
/* ------ Landscape ------ */
@media only screen and (orientation: landscape) and (min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Home */
  #textBox {
    top: 46rem;
  }

  #textBox #linkToLogin,
  #homeContainer #footerDiv {
    margin-top: 3rem;
  }

  /* Shop */
  #shopImage {
    top: 3rem;
    right: 1rem;
    width: 50%;
  }

  #categoryDiv {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  #productRow {
    padding-top: 4rem;
  }

  #cardPrice {
    bottom: -4rem;
  }

  #cardButton {
    bottom: -4.5rem;
  }

  /* Order History */
  .detailText {
    font-size: 1.4rem;
  }

  /* Detail */
  .priceDescriptionDiv {
    flex-direction: column;
    height: 55vh;
  }

  #buttonDiv {
    flex-direction: row;
  }

  #detailAddButton {
    margin-bottom: 5px;
  }

  /* Login and SignUp */
  #rightLoginCol .loginForm {
    bottom: 2rem;
  }

  #rightSignUpCol .signUpForm {
    bottom: -9rem;
  }
}

/* ------------- iPad Pro ------------- */
@media only screen and (orientation: portrait) and (min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Home */
  #textBox {
    top: 43rem;
  }

  #textBox #linkToLogin {
    margin: 3rem;
  }

  /* Shop */
  #shopImage {
    top: 5rem;
    right: 4rem;
    width: 42%;
  }

  #categoryRow {
    height: 58%;
  }

  #categoryDiv {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  /* Orders History */
  #orderHistoryRow {
    padding: 5rem;
  }

  #ordersContainer {
    justify-content: center;
  }

  .detailText {
    font-size: 1.8rem;
  }

  /* Detail */
  #detailDiv {
    height: 100vh;
    justify-content: space-evenly;
  }

  .priceDescriptionDiv {
    flex-direction: column;
    height: 33vh;
  }

  #buttonDiv {
    flex-direction: row;
  }

  #detailAddButton {
    margin-bottom: 5px;
  }
  /* Login and SignUp */
  #rightLoginCol .loginForm {
    bottom: 18rem;
  }

  #rightSignUpCol .signUpForm {
    bottom: 10rem;
  }
}

/* ------------- New Media Query --------------- */

@media only screen and (min-device-width: 1200px) {
  /* ************ Home Page ************** */
  #homeContainer {
    background-image: url("../src/assets/wave1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 70vh;
    padding: 0px;
  }

  .homeRow {
    width: 100vw;
    height: 0vh;
  }

  #creditCard {
    position: absolute;
    left: 43rem;
    top: 8rem;
    max-width: 50%;
  }

  #textBox {
    position: absolute;
    width: 50vw;
    top: 15rem;
    padding: 0rem 8rem;
    align-items: flex-start;
  }

  #textBox #linkToLogin {
    border-radius: 30px;
    padding: 0.8rem 3.8rem;
    text-decoration: none;
  }

  #homeContainer #footerDiv {
    position: absolute;
    bottom: 0rem;
    left: 49vw;
  }

  /* ************ Shop Page ************** */

  #header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #categoryRow,
  #productRow {
    background-color: #ffffff;
    padding: 5rem;
  }

  #categoryRow {
    height: 85%;
  }

  #productRow {
    height: auto;
    padding: 2rem 5rem;
  }

  #categoryCol,
  #productCol {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  #productsTitle {
    margin-left: 2rem;
  }

  #shopImage {
    top: 0rem;
    right: 8rem;
    width: 35%;
  }

  #textBoxLink {
    padding: 0.6rem 2.6rem;
  }

  #categoryDiv {
    margin-bottom: 3rem;
  }

  /* Product Cards */

  #products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-body {
    height: 16vh;
  }

  /*************** Login & Sigup Pages ***************/
  #loginRow,
  #signUpRow {
    flex-direction: row;
  }

  #rightLoginCol,
  #rightSignUpCol {
    width: auto;
    padding: 0;
  }

  #rightLoginCol {
    padding: 3rem;
  }

  #rightSignUpCol {
    padding: 1rem 3rem;
  }

  #leftLoginCol,
  #leftSignUpCol {
    width: 60vw;
    height: 100vh;
  }

  .tagLineText {
    margin: 2rem 0 0 2rem;
  }

  #loginImage {
    height: 70vh;
    margin-top: 3.5rem;
    padding-right: 3rem;
  }

  #rightLoginCol .loginForm {
    bottom: 7rem;
  }

  #rightSignUpCol .signUpForm {
    bottom: 4rem;
  }

  /* Forms in Login and Signup Pages */

  #signUpHeader {
    margin-bottom: 4rem;
  }

  .signUpForm,
  .loginForm {
    width: 33.4%;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;
    bottom: 7.4rem;
    opacity: 1;
  }

  .inputForm,
  #email,
  #pwd {
    margin-bottom: 1rem;
  }

  .loginH2 {
    margin-bottom: 3.5rem;
  }

  .signUpH2 {
    margin-bottom: 2rem;
  }

  form .formButton {
    margin-top: 2rem;
  }

  #pwdSignUp {
    margin-bottom: 1rem;
  }

  /********************** Detail Page **********************/

  #detailDiv {
    flex-direction: row;
  }

  .priceDescriptionDiv {
    flex-direction: column;
    width: 37%;
    height: 72vh;
    margin: 2rem 4rem 1rem 0rem;
  }

  #price,
  #detailPrice {
    margin-top: 0.5rem;
  }

  #detailPrice {
    margin-left: 0px;
  }

  #buttonDiv {
    flex-direction: row;
    justify-content: space-between;
  }

  #detailAddButton {
    padding: 0.6rem 2.6rem;
  }

  /* Product Cards */

  .flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 21%;
    text-align: center;
    margin: 1% 2% 2% 2%;
  }

  /********************** Order History Page **********************/

  .ordersDiv {
    width: 42vw;
    margin-bottom: 0rem;
  }

  #historyCard {
    width: 37vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
  }

  #historyImg {
    width: 13vw;
  }

  #namePriceDiv {
    justify-content: space-between;
    width: 34vh;
  }

  .detailText {
    font-size: 1.4rem;
  }

  /* ********************** Success Page ************************ */

  #successCol {
    width: 50%;
  }

  #successImage {
    height: 66vh;
  }

  #redirectBox {
    width: 50%;
    margin-top: 4%;
    padding: 1%;
  }

  /* ********************** NoMatch Page ************************ */

  #noMatchImage {
    max-width: 36%;
  }

  #noMatchText {
    font-size: 1.8vw;
  }
}

@media screen and (orientation: landscape) and (min-device-width: 1366px) and (max-device-width: 1366px) {
  #rightLoginCol .loginForm {
    bottom: 19rem;
  }

  #rightSignUpCol .signUpForm {
    bottom: 17rem;
  }

  #textBox {
    top: 21rem;
  }

  #creditCard {
    left: 35rem;
    top: 14rem;
    max-width: 59%;
  }

  #categoryRow {
    height: 58%;
  }

  .priceDescriptionDiv {
    height: 54vh;
  }
}
