#homeCartButton,
#shopCartButton {
  border-radius: 50px;
  padding: 1rem;
}

#homeCartButton {
  color: #000;
  background-color: #f1a138;
  border-color: #f1a138;
}

#shopCartButton {
  color: #465965;
  background-color: #f2f2f2;
  border-color: #465965;
}

/* #cartBottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 1rem;
} */

#strongTotal {
  padding-top: 0.5rem;
  margin-right: 2rem;
}

.spinner-border-sm {
  margin-left: 1rem;
}

.noItemsMessage,
.noItemsImage {
  text-align: center;
}

.noItemsMessage {
  display: grid;
}

.noItemsImage {
  margin: 1rem auto;
}

@media only screen and (min-device-width: 280px) {
  #shopCartButton,
  #homeCartButton {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  #shopCartButton,
  #homeCartButton {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  #shopCartButton,
  #homeCartButton {
    display: block;
  }

  #shopCartButton {
    margin-top: 1.2rem;
  }
}
