#homeCartButton,
#shopCartButton {
  border-radius: 50px;
  padding: 1rem;
}

#homeCartButton {
  color: #000;
  background-color: #f1a138;
  border-color: #f1a138;
}

#shopCartButton {
  color: #465965;
  background-color: white;
  border-color: #465965;
}

#cartBottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

#strongTotal {
  padding-top: 0.5rem;
  margin-right: 2rem;
}

.noItemsMessage,
.noItemsImage {
  text-align: center;
}

.noItemsMessage {
  display: grid;
}

.noItemsImage {
  margin: 1rem auto;
}

@media screen and (max-width: 900px) {
  #cartButton {
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  #cartButton {
    padding: 0px;
  }
}
