@media only screen and (min-device-width: 280px) and (max-device-width: 350px) {
  #prodDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #productsTitle {
    margin-left: 0rem;
  }

  .flex-row {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    width: 100vw;
    flex-wrap: wrap;
    padding: 1rem 0rem;
  }
}
