#textBoxHeading {
  margin-bottom: 2rem;
  font-size: 2.1rem;
  font-weight: bold;
}

#textBoxParagraph {
  line-height: 2rem;
  width: 80%;
  font-size: 1.3rem;
  color: grey;
  margin-bottom: 2rem;
}

#successTextBox {
  text-align: center;
  color: #434e54;
  opacity: 1;
  animation: successText 3s;
}

@keyframes successText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
