#footerDiv {
  position: absolute;
  bottom: 0.5rem;
  display: flex;
  justify-content: space-around;
  padding: 2rem 40rem 0 40rem;
}

.footerIcons {
  margin: 0;
  font-size: 2rem;
  color: lightgrey;
}

@media only screen and (orientation: landscape) and (min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  #footerDiv {
    bottom: -28.5vw;
    padding: 0rem;
    left: 66vw;
  }
}
