.cartItemDiv {
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1rem;
}

.cartImage {
  width: 10vw;
  height: 12vh;
  margin-right: 1rem;
  border-radius: 10px;
}

#cartItemInnerDiv {
  margin-left: 1rem;
  display: flex;
}

#cartItemLeft,
#cartItemRight {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

#cartItemLeft {
  width: 17vw;
}

#cartItemRight {
  align-items: flex-end;
  width: 6vw;
}

#cartItemInput {
  width: 4vw;
  margin-top: 1.5rem;
}

#trash {
  margin: 0rem;
  margin-top: 1.7rem;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 750px) {
  .cartItemDiv {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  #cartImageDiv {
    display: flex;
    justify-content: center;
  }

  .cartImage {
    width: 52%;
    margin-right: 0rem;
  }

  #cartItemInnerDiv {
    width: 82vw;
    margin-left: 0rem;
  }

  #cartItemLeft {
    width: 64%;
  }

  #cartItemRight {
    width: 36%;
  }

  #cartItemInput {
    width: 24%;
    text-align: center;
  }
}
