.cartItemDiv {
  display: flex;
  margin-bottom: 2rem;
}

.cartImage {
  width: 10vw;
  margin-right: 1rem;
  border-radius: 10px;
}

#cartItemInnerDiv {
  margin-left: 1rem;
  display: flex;
}

#cartItemLeft {
  display: flex;
  flex-direction: column;
}

#cartItemInput {
  width: 4vw;
}
