.cartItemDiv {
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1rem;
}

.cartImage {
  width: 10vw;
  margin-right: 1rem;
  border-radius: 10px;
}

#cartItemInnerDiv {
  margin-left: 1rem;
  display: flex;
}

#cartItemLeft,
#cartItemRight {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

#cartItemRight {
  align-items: flex-end;
  margin-left: 4rem;
}

#cartItemInput {
  width: 4vw;
  margin-top: 1.5rem;
}

#trash {
  margin: 0rem;
  margin-top: 1.7rem;
}

/* #cartItemInput,
#trash {
  margin-top: 4rem;
} */
