#cardText1 {
  margin-bottom: 0.5rem;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 899px) {
  #productCol .card {
    width: 83%;
    margin: 2% 2% 2% 2%;
  }

  .card {
    min-width: 66vw;
  }
}

/* iPhone 5/SE */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .card-body {
    height: 18vh;
  }
}
